*, 
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Orelega One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin: 100px auto;
  width: 50%;
  padding: 3em;
  font-size: 1.2em;
  border: none;
  background: salmon;
  color: #fff;
  text-align: center;
  transition: opacity 0.3s;
}

.fadeout {
  opacity: 0;
}

.fadein {
  opacity: 1;
}